* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  background-color: black;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 20%;
  border: 1px solid white;
  text-align: center;
  font-size: 2rem;
}

nav .logo img {
  width: 100%;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 1.5% 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
}

main {
  display: flex;
  flex-direction: column;
  width: 80%;
  border: 1px solid white;
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
  }
}

#main-1 {
  display: none; /* Initially hidden */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2%;
  background: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

#weatherInfo {
  font-size: 1.25rem;
  margin: 2%;
  width: 100%;
  padding: 2%;
  border-radius: 10px;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.chart-container canvas {
  max-width: 220px;
  min-width: 220px;
  max-height: 220px;
  min-height: 220px;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  #main-1 {
    display: flex;
  }

  .chart-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

#main-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 2%;
  background: linear-gradient(62deg, #e0c3fc 0%, #8ec5fc 100%);
}

#forecastContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
}

#forecastContainer .filters {
  display: flex;
  justify-content: center;
  width: 100%;
}

#forecastContainer .filters .button {
  margin: 0.5%;
}

#forecastContainer .filters .button button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem; /* Fixed font-size issue */
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#forecastContainer .filters .button button:hover {
  background-color: #636363;
  color: white;
}

#forecastContainer table {
  width: 100%;
  border-collapse: collapse;
  margin: 2%;
  text-align: center;
  border: 1px solid white;
  background-color: black;
  color: white;
  font-size: 1.25rem;
  padding: 2%;
}

#forecastContainer table th,
#forecastContainer table td {
  border: 1px solid #ccc;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  #main-2 {
    display: flex;
  }

  #main-2 .search-div {
    display: none;
  }

  #forecastContainer {
    width: 100%;
  }

  #forecastContainer .filters {
    flex-direction: column;
  }

  #forecastContainer table {
    font-size: 0.85rem; /* Adjusted for better readability */
    padding: 1%;
    margin: 0.5%;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination .link {
  padding: 10px;
  margin: 5px;
  background: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.pagination .link.active {
  background: #0056b3;
}

#search-bar {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
